<section class="shadow rounded-4 bg-main-light p-4 my-5 w-50 mx-auto">
    <h1 class="text-black text-center py-4">Login Now</h1>
    <form [formGroup]="signInForm" (ngSubmit)="handleform(signInForm)">

        <div class="form-item">
            <label for="email" class="text-black">email</label>
            <input id="email" type="email" placeholder="email" formControlName="email" class="form-control mb-3">
            <div *ngIf="signInForm.get('email')?.errors &&signInForm.get('email')?.touched"
                class="alert alert-danger w-50 small p-1  mx-auto">
                <p *ngIf="signInForm.get('email')?.getError('required')" class="m-0"> Email is Required</p>
                <p *ngIf="signInForm.get('email')?.getError('email')" class="m-0">Email Is Invailed</p>
            </div>
        </div>
        <div class="form-item">
            <label for="password" class="text-black">password</label>
            <input id="password" type="password" placeholder="password" formControlName="password"
                class="form-control mb-3">
            <div *ngIf="signInForm.get('password')?.errors &&signInForm.get('password')?.touched"
                class="alert alert-danger w-50 small p-1  mx-auto">
                <p *ngIf="signInForm.get('password')?.getError('required')" class="m-0"> Password is Required</p>
                <p *ngIf="signInForm.get('password')?.getError('pattern')" class="m-0">Password Must be At least 6
                    charcters</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center justify-content-center">

            <button [disabled]="signInForm.invalid" class="btn btn-secondary px-5 mx-auto w-50"> LOGIN
                <span *ngIf="isloading">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </button>
        </div>
        <div *ngIf="msg" class="alert alert-danger w-50 small p-1  mx-auto">
            <h3 class="h6 small text-center py-3">{{msg}}</h3>
        </div>
    </form>
</section>